# macOS system files
.DS_Store
**/.DS_Store

# Protected directories
Library/
**/Library/

# Dependencies
node_modules/
dist/

# Environment files
.env
.env.local

# Logs
logs
*.log
npm-debug.log*

# Build output
build/

# IDE settings
.vscode/
.idea/
